body{
    box-sizing: border-box;
    height: 100vh;
    padding-top: 80px;
}
.tableShulte{  
  height: 158px;
  border:1px solid black; 
}
.Shulte_Numeral{
    width: 100%;
    height: 100%;
    padding-left:20px;        
    font-size: 100px;    
}